<h3 class="h3">Linear Congruence</h3>

<div class="alert alert-dark" *ngFor="let item of congruences">
  <span>{{ item }} is congruent to {{ cong.divided }} mod {{ cong.divisor }} </span>
</div>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

  <div>
    <label for="Divided">
      Divided
    </label>
    <input class="input-group-text" [(ngModel)]="cong.divided" id="divided" type="number" name = "divided" required>
  </div>
  <div>
    <label for="Divisor">
      Divisor
    </label>
    <input class="input-group-text" [(ngModel)]="cong.divisor" id="divisor" type="number" name = "divisor" required>
  </div>
  <br>
  <div [hidden]="isValid" class="alert alert-info" role="alert">
    You need to input a number different from zero to divisor and divided
  </div>

  <button class="btn btn-primary" type="submit">Calculate 5 next congruences</button>

</form>